.w3-row-padding.w3-ios-light-grey
  .w3-col.s3

    h4.strong 
      |Reconcile Bank Account 
  .w3-col.s9
    p= link_to 'Cancel/List', bank_statements_path, class:'lime-link-button'
/ div.flex.gap-8
/   div
/     span.ml-4
/       strong Bank Balance->
/     span.ml-4
/       strong Begin: 
/       = to_money(@reconcile.bank_beginning_balance)
/     span.ml-4
/       strong End: 
/       = to_money(@reconcile.bank_ending_balance)
/   div
/     span.ml-4
/       strong Checkbook Balance->
/     span.ml-4
/       strong Begin: 
/       = to_money(@reconcile.checking_beginning_balance)
/     span.ml-4
/       strong End: 
/       = to_money(@reconcile.checking_ending_balance)
/   div
/     span.float-right
/       strong Closing Date:
/       = @reconcile.closing_date



/ #ajax_balance
/   div[
/     data-controller="remoteUpdate" 
/     data-remoteUpdate-target="refresh" 
/     data-action="ajax:success->remoteUpdate#onSuccess"
/   ]
= render partial: 'bank_statements/reconcile'


   
