// Place all the styles related to the accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.w1 {width: 1vw;}
.w2 {width: 2vw;}
.w3 {width: 3vw;}
.w4 {width: 4vw;}
.w5 {width: 5vw;}
.w6 {width: 6vw;}
.w7 {width: 7vw;}
.w8 {width: 8vw;}
.w9 {width: 9vw;}
.w10 {width: 10vw;}
.w11 {width: 11vw;}
.w12 {width: 12vw;}
.w13 {width: 13vw;}
.w14 {width: 14vw;}
.w15 {width: 15vw;}
.w16 {width: 16vw;}
.w17 {width: 17vw;}
.w18 {width: 18vw;}
.w19 {width: 19vw;}
.w20 {width: 20vw;}
.w22 {width: 22vw;}
.w25 {width: 25vw;}
.w30 {width: 30vw;}
.w40 {width: 40vw;}
.w100 {width: 100%;}
.wp1 {width: 1%;}
.wp2 {width: 2%;}
.wp3 {width: 3%;}
.wp4 {width: 4%;}
.wp5 {width: 5%;}
.wp6 {width: 6%;}
.wp7 {width: 7%;}
.wp8 {width: 8%;}
.wp9 {width: 9%;}
.wp10 {width: 10%;}
.wp11 {width: 11%;}
.wp12 {width: 12%;}
.wp13 {width: 13%;}
.wp14 {width: 14%;}
.wp15 {width: 15%;}
.wp16 {width: 16%;}
.wp17 {width: 17%;}
.wp18 {width: 18%;}
.wp19 {width: 19%;}
.wp20 {width: 20%;}
.wp22 {width: 22%;}
.wp25 {width: 25%;}
.wp30 {width: 30%;}
.wp40 {width: 40%;}
// .hidden, .disp-none {display:none;}
table.gl-table {
  border-collapse: collapse;
  width: 100%;
  // height: 75vh;
  // overflow: auto;
  // tr:nth-of-type(even) {
  //   background-color:#F9F9F9;
  // }
  tr {background-color: lighten(yellow,40)!important;}
  tr.entry-row {background-color: lighten(blue,39)!important;}
  tr.header-row {background-color: lighten(lawngreen,40)!important;}
  tr.deleted-row {background-color: lighten(red,40)!important;}


  .required {background-color:lighten(lightgreen,15);}

  td, th {
    // font-size: 0.8rem;
    padding: 0.2rem;
    margin:0;
    // font-size: 1.4vw;
    // line-height:1.5vw;
    border:solid 1px #aaa;
    // background-color: white;
    // text-align: center;
  }
  td.actions {
    a {padding-right: 5px;}
  }
  td {
    &.p0{ padding-left: 0rem;}
    &.p1{ padding-left: 1rem;}
    &.p2{ padding-left: 2rem;}
    &.p3{ padding-left: 3rem;}
    &.p4{ padding-left: 4rem;}
    &.p5{ padding-left: 5rem;}
  }
}

.snowSelectedBackground,
.snowSelectedBackground:nth-of-type(even),
.snowSelectedBackground:nth-of-type(odd){
  background-color:#F9F9F9;
}
tbody.split-rows {display:none}


.pl-row {
  .pl-col-acct{
    display: inline-block;
    width: 40%;
    text-align: left;
    &.p0{ padding-left: 0%;}
    &.p1{ padding-left: 2%;}
    &.p2{ padding-left: 4%;}
    &.p3{ padding-left: 6%;}
    &.p4{ padding-left: 8%;}
    &.p5{ padding-left: 10%;}
  }
  .col-acct{
    display: inline-block;
    width: 30%;
    text-align: left;
    &.p0{ padding-left: 0vw;}
    &.p1{ padding-left: 1vw;}
    &.p2{ padding-left: 2vw;}
    &.p3{ padding-left: 3vw;}
    &.p4{ padding-left: 4vw;}
    &.p5{ padding-left: 5vw;}
  }
  .summary-acct{
    display: inline-block;
    width: 60%;
    text-align: left;
    &.p0{ padding-left: 0vw;}
    &.p1{ padding-left: 1vw;}
    &.p2{ padding-left: 2vw;}
    &.p3{ padding-left: 3vw;}
    &.p4{ padding-left: 4vw;}
    &.p5{ padding-left: 5vw;}
  }


  .pl-summary{

    display: inline-block;
    width: 40%;
    text-align: right;
  }
  
  .pl-col-11 {

    display: inline-block;
    width: calc( 15% * 1);
    text-align: right;
  }
  .pl-col-12 {

    display: inline-block;
    width: calc(15% * 2);
    text-align: right;
  }
  .pl-col-22 {
    display: inline-block;
    width: calc(15% / 1);
    text-align: right;
  }
  .pl-col-13 {
    display: inline-block;
    width: calc(15% * 3);
    text-align: right;
  }
  .pl-col-23 {

    display: inline-block;
    width: calc(15% * 2);
    text-align: right;
  }
  .pl-col-33 {

    display: inline-block;
    width: calc(15% * 1);
    text-align: right;
  }
  .pl-col-tot {
    display: inline-block;
    width: 100% ;
    text-align: right;
  }
  .pl-col-tot-1 {
    display: inline-block;
    width: 70% ;
    text-align: right;
  }
  .pl-col-tot-2 {
    display: inline-block;
    width: 85% ;
    text-align: right;
  }
  .pl-col-tot-3 {
    display: inline-block;
    width: 100% ;
    text-align: right;
  }

}

.half-constrainer{
  height:70vh;
  overflow: scroll;
}

